.collection.spacing-less {
  margin: 0;
  padding: 0;
}

.relative {
  position: relative
}

.float-bottom {
  position: absolute;
  bottom: 0;
}

.collection.spacing-less li {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.icon {
  line-height: 64px;
}

.clickable {
  cursor: pointer;
}