<div data-ng-show='user.isValid' class='row'>
  <div class='col s12 hide-on-med-and-down'>
    <div class='col s3 side-nav fixed'>
      <div class='row col s12'>
        <h4>Chat App</h4>
        
        <div class='valign-wrapper'>
          <div class='valign'>

            <div class='col s5'>
              <a ui-sref='chat'><img class='responsive-img circle' ng-src='{{ user.avatarUrl }}' /></a>
            </div>

            <div class='col s7'>
              <span class="bold flow-text" data-ng-bind='user.name'></span>

              <a class='right' href="javascript:void(0)" ng-click='logOut()'>
                <i class="material-icons">settings_power</i>
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <ul class='collection with-header'>
          <li class='row col s12 collection-header'>
            <h5 style='margin:0; line-height:64px' class='left col s10'>Rooms</h5>
            <a class='right col s2' ui-sref="chat.roomCreate"><i class="material-icons icon">add</i></a>
          </li>

          <li class='row col s12 collection-item' data-ng-class="{'active' : selectedTarget == room }" data-ng-repeat='room in rooms'>
            <a class= 'left col s10' ui-sref='chat.room({ target: room })' data-ng-bind='room'></a>
            <a class='right col s2' ui-sref="chat.roomDelete({ chatroom: room })"><i class="material-icons icon">remove</i></a>
          </li>

          <li class='collection-header clear'>
            <h5 style='margin:0; line-height:64px'>Online Users</h5>
          </li>

          <li class='collection-item avatar'  data-ng-class="{'active' : selectedTarget == user.id }" data-ng-repeat='user in users | filter : notCurrentUser'>
            <img class='responsive-img circle' ng-src='{{ user.avatarUrl }}' /> 

            <span class='title' data-ng-bind="user.name"></span>
            <p class='truncate' data-ng-bind="user.emailAddress"></p>

            <a ui-sref='chat.room({ target: user.id })' class="secondary-content"><i class="material-icons icon">send</i></a>
          </li>
        </ul>
      </div>  
    </div>

    <div class='col s9 offset-s3' ui-view></div>  
  </div>

  <div></div>

  <div class='col s12 hide-on-large-only'>
    <nav class='nav-wrapper'>
      <a href='javascript:void(0)' data-activates='mobile' class='button-collapse'>
        <i class='material-icons'>menu</i>
      </a>

      <ul id='mobile' class='side-nav'>
        <li>
          <a href='javascript:void(0)'><i class='material-icons'>message</i></a>
          <a href='javascript:void(0)'><i class='material-icons'>info</i></a>
        </li>  
      </ul>
    </nav>
  </div>
</div>

<div data-ng-hide='user.isValid' class='row container'>
  <form name='namingForm' ng-submit='logIn()'>
    <h2>What should we call you?</h2>

    <input required id='username' name='username' type='text' placeholder='Introduce your Display Name' data-ng-model='formUsername' />
    <input id='emailAddress' name='emailAddress' type='text' placeholder='Introduce your Email Address (Optional)' data-ng-model='formEmail' />

    <button class="btn" type="submit" data-ng-disabled='namingForm.$invalid'>Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
